@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #e74c3c;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .navigation {
        flex-direction: column;
        gap: 10px;
    }
    .header {
        padding: 35px 0;
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-top: 80px !important;
    }

    
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #2c3e50;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link,
.footer-brand {
    text-decoration: none;
    color: #e74c3c;
    font-weight: 900;
    font-size: 22px;
    transition: color 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 100;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease,
    border-bottom 0.3s ease;
}

.nav-link-underline {
    border-bottom: 1px solid rgb(255, 153, 0);
    border-top: 1px solid rgb(255, 153, 0);
    transition: color 0.3s ease;
}

.nav-link-hover {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: border-bottom 0.3s ease,
                border-top 0.3s ease;
}

@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    max-height: 100%;
    opacity: 1;
    right: 0;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-line {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .nav-item:first-child {
        margin-top: 20px;
    }

    .burger-menu {
        display: flex;
        margin-right: 15px;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.main-content {
    margin-top: 50px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-between;
    }
}

.nav-list {
    display: flex;
    gap: 14px;
    list-style: none;
}

.nav-item {
    position: relative;
}

@media (max-width: 730px) {
    .burger-menu {
        display: flex;
        z-index: 10000;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; /* Изменяем на колонку для бокового меню */
        background-color: #2c3e50; /* Цвет фона */
        position: fixed; /* Фиксируем меню */
        top: 0;
        right: -250px; /* Скрываем за пределами экрана */
        width: 250px; /* Ширина меню */
        height: 100%; /* Высота на весь экран */
        transition: right 0.3s ease; /* Анимация */
        z-index: 999; /* Указываем z-index */
        border-left: 1px solid #ffffff;
    }
    .nav-list.active {
        display: flex;
    }
    .nav-link-underline {
        border: none;
    }
}

@media (max-width:426px) {
    
    .burger-line{
        background-color: rgb(255, 255, 255);
    }
    .main-content{
        margin-top: 0;
    }
    .slider-header{
        margin-top: 0;
    }
    .nav-list{
        top: 0;
    }
    
}

.footer {
    background-color: #2c3e50; /* Dark background color */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
}

.footer-details {
    margin-bottom: 15px; /* Space between brand and links */
}

.footer-links {
    margin-bottom: 15px; /* Space below links */
}

.footer-links a {
    color: #ffffff; /* White color for links */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between links */
    transition: color 0.3s ease;
}

.warn-18,
.warn-states {
    font-size: 14px; /* Set a smaller font size for warnings */
    margin: 5px 0; /* Space around paragraphs */
}

.footer-rights {
    font-size: 14px; /* Similar size for rights statement */
    margin-top: 15px; /* Space above this statement */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    
    .footer-links {
        flex-direction: column; /* Stack links vertically on smaller screens */
        align-items: center; /* Center links */
    }
    
    .footer-links a {
        margin: 5px 0; /* Space between stacked links */
    }
}

.privacy-policy {
    padding: 20px;
    margin-top: 50px;
}

.policy-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.privacy-policy-section-title {
    font-size: 1.5em;
    margin-top: 20px;
}

.privacy-policy-section-description, .privacy-policy-rights-instruction {
    font-size: 1em;
    line-height: 1.5;
}

.privacy-policy-info-list, .privacy-policy-purpose-list, .privacy-policy-sharing-list, .privacy-policy-rights-list {
    list-style-type: disc;
    margin-left: 20px;
}

.privacy-policy-info-item, .privacy-policy-purpose-item, .privacy-policy-sharing-item, .privacy-policy-rights-item {
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .policy-title {
        font-size: 1.5em;
    }
    
    .privacy-policy-section-title {
        font-size: 1.25em;
    }

    .privacy-policy-section-description {
        font-size: 0.9em;
    }
}

.terms-and-conditions {
    padding: 20px;
    margin-top: 50px;
}

.terms-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.terms-and-conditions-section-title {
    font-size: 1.5em;
    margin-top: 20px;
}

.terms-and-conditions-section-description {
    font-size: 1em;
    line-height: 1.5;
}

.terms-and-conditions-prohibited-activities {
    list-style-type: disc;
    margin-left: 20px;
}

.terms-and-conditions-prohibited-item {
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .terms-title {
        font-size: 1.5em;
    }
    
    .terms-and-conditions-section-title {
        font-size: 1.25em;
    }

    .terms-and-conditions-section-description {
        font-size: 0.9em;
    }
}

.responsible-gaming {
    padding: 20px;
    margin-top: 50px;
}

.responsible-gaming-gaming-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.responsible-gaming-section-title {
    font-size: 1.5em;
    margin-top: 20px;
}

.responsible-gaming-section-description {
    font-size: 1em;
    line-height: 1.5;
}

.responsible-gaming-gaming-guidelines, .responsible-gaming-self-regulation-tools {
    list-style-type: disc;
    margin-left: 20px;
}

.responsible-gaming-guideline-item, .responsible-gaming-tool-item {
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .responsible-gaming-gaming-title {
        font-size: 1.5em;
    }
    
    .responsible-gaming-section-title {
        font-size: 1.25em;
    }

    .responsible-gaming-section-description {
        font-size: 0.9em;
    }
}

.faq-section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 60px;
}

.faq-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    background-color: #616161;
    color: white;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-answer {
    max-height: 0; /* Скрываем ответ по умолчанию */
    overflow: hidden;
    padding: 0 15px; 
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding-top: 0; /* Изначально нет отступа вверху */
    padding-bottom: 0; /* Изначально нет отступа внизу */
}

.faq-answer.open {
    padding-top: 15px;  /* Отступ при открытом элементе */
    padding-bottom: 15px; /* Отступ внизу при открытом элементе */
}

/* Адаптивный дизайн */
@media (max-width: 600px) {
    .faq-section {
        margin: 10px; 
        padding: 15px; 
    }

    .faq-title {
        font-size: 1.5em; 
    }

    .faq-question {
        padding: 10px; 
    }
}

.hero-section {
    margin-top: -30px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section-2 {
    margin-top: -30px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('img/hero-about.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    padding: 10px;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 60px;
}

.hero-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    transition: background-color 0.3s;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 2em;
    }

    .hero-subtitle {
        font-size: 1.2em;
    }

    .hero-button {
        padding: 8px 16px;
    }

}

.hero__form {
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0 6px 30px rgba(255, 255, 255, 0.292);
    padding: 30px;
    width: 600px;
    text-align: center;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {

    .hero__form {
        padding: 10px;
        width: 90%;
    }
    .hero-title {
       margin: 0;
    }

    .hero-subtitle {
        padding: 10px;
    }
    
    .hero-subtitle {
        margin: 0;
    }
}
.hero-flex-cont {
    display: flex;
    align-items: center;
}
input[type="tel"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
input[type="tel"]:focus {
    border-color: #555555;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    outline: none;
}
.btn-hero {
    background-color: #505050;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    font-size: 16px;
}
.btn-hero:hover {
    background-color: #000000;
    transform: translateY(-2px);
}
.hero__note {
    font-size: 14px;
    margin-top: 10px;
    color: #ffffff;
}
.hero__note a {
    color: #fb0000;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}
.hero__note a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #ff0000;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.hero__note a:hover::after {
    width: 100%;
}
.error {
    color: red;
    font-size: 12px;
    margin: 5px 0;
}

.rummy-experience {
    padding: 20px;
    text-align: center;
}

/* Заголовок */
.rummy-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Описание */
.rummy-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Контейнер для карточек */
.rummy-experience-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Карточки */
.rummy-experience-card {
    background-color: #757575;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 30%; /* Измените ширину по необходимости */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    color: white;
}

/* Заголовок карточки */
.rummy-experience-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Текст в карточке */
.rummy-experience-card p {
    font-size: 1rem;
    margin-bottom: 15px;
}

/* Ссылка в карточке */
.rummy-experience-card-link {
    display: inline-block;
    padding: 8px 15px;
    background-color: #ac0000;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
    .rummy-experience-card {
        width: 100%;
    }

    .rummy-title {
        font-size: 1.5rem;
    }

    .rummy-description {
        font-size: 1rem;
    }
}

.hiddenVortex {
    display: none;
}

.rummyVortex-online {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
}

.rummyVortex-online-title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.rummyVortex-online-content {
    margin-top: 10px;
}

/* Кнопка */
.rummyVortex-online-button {
    padding: 10px 15px;
    background-color: #ac0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.rummy-section {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.rummy-button {
    flex: 1;
    padding: 15px;
    color: #000000;
    background-color: #ffffff; /* Primary color */
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.rummy-button.active {
    background-color: #5d5d5d; /* Highlighted color */
    color: white;
}

.rummy-button:hover {
    background-color: #acacac; /* Darker primary on hover */
}

.content-block {
    display: none;
    margin-top: 20px;
    text-align: left;
}

.content-block.active {
    display: block;
}

.content-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.rummy-section h3 {
    font-size: 24px;
    margin: 15px 0;
}

.rummy-section p {
    font-size: 16px;
    line-height: 1.5;
}

.rummy-section ul {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .button-group {
        flex-direction: column;
    }

    .rummy-button {
        margin-bottom: 10px;
    }
}

.reviews-section {
    overflow: hidden;
}

.reviews-section-title {
    text-align: center;
    font-size: 2em;
    color: #000000;
    margin-bottom: 15px;
}

.slider-review {
    margin-top: 15px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review {
    flex: 0 0 100%;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
}

.review p {
    font-size: 14px;
    color: #000000;
}

.author {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    font-size: 12px;
}

.buttons-review {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn-review {
    padding: 5px 30px;
    margin: 5px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}

.review img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.RummyVortex-info-section {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap as needed */
    justify-content: space-between; /* Space between the blocks */
    margin: 20px; /* Adjust margin as necessary */
}

.RummyVortex-info-block {
    flex: 1; /* Each block will take equal space */
    min-width: 300px; /* Minimum width to maintain structure */
    margin: 10px; /* Space around blocks */
    padding: 20px;
    border: 1px solid #ccc; /* Border for visual separation */
    border-radius: 8px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.3s ease; /* Transition effect for hover */
}

.RummyVortex-info-block h3 {
    margin-top: 0; /* Remove top margin for h3 */
    color: #333; /* Darker text color */
}

.RummyVortex-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align icon and text at the top */
}

.RummyVortex-icon {
    font-size: 40px; /* Adjust icon size */
    color: #920000; /* Icon color */
    margin-right: 15px; /* Space between icon and text */
}

@media (max-width: 768px) {
    .RummyVortex-info-section {
        flex-direction: column; /* Stack blocks on smaller screens */
    }
}

.rummy-features {
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rummy-features__title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.rummy-features__list {
    list-style-type: none;
    padding: 0;
}

.rummy-features__item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 16px;
    gap: 10px;
}

.rummy-features__icon {
    margin-right: 10px;
    color: #c72500; /* Customize your icon color */
    font-size: 20px;
}

@media (max-width: 768px) {
    .rummy-features {
        padding: 15px;
    }

    .rummy-features__title {
        font-size: 20px;
    }

    .rummy-features__item {
        font-size: 14px;
    }

    .rummy-features__icon {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .rummy-features {
        padding: 10px;
    }

    .rummy-features__title {
        font-size: 18px;
    }

    .rummy-features__item {
        font-size: 12px;
    }

    .rummy-features__icon {
        font-size: 16px;
    }
}

.about-rummy {
    padding: 20px;
    background-color: #f9f9f9;
}

.about-rummy__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-rummy__sidebar {
    flex: 1;
    margin-right: 20px;
    margin-top: 80px;
}

.about-rummy__button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #921600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.about-rummy__button--active {
    background-color: #da2100;
}

.about-rummy__content {
    flex: 2;
}

.about-rummy__title {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-rummy__text {
    display: none; /* Hidden by default, managed by JavaScript */
}

.about-rummy__text#mission {
    display: block; /* Show this section by default */
}

.about-rummy__button-container {
    margin-top: 20px;
}

.about-rummy__contact-button {
    padding: 10px 20px;
    background-color: #921600;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.display-block {
    display: block;
}

.display-none {
    display: none;
}

.about-rummy__image {
    max-width: 100%; /* Prevents the image from exceeding the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Ensures there are no small spaces below the image */
    margin: 0 auto; /* Centers the image */
}

@media (max-width: 730px) {
    .about-rummy__container {
        flex-direction: column;
    }

    .about-rummy__sidebar {
        margin-right: 0;
        margin-bottom: 15px;
        margin-top: 0;
    }
}

.how-play-content {
    margin-top: 50px;
}












.advantages-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 120px;
    margin-top: 40px;
}

.advantages-title {
    text-align: center;
    font-size: 38px;
    color: #000000;
    margin-bottom: 30px;
}

.advantage-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.advantage-image {
    width: 50%;
    height: auto;
    border-radius: 30px;
}

.advantage-text {
    width: 50%;
    padding: 0 20px;
}

.advantage-subtitle {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 16px;
    color: #000000;
}

.btn-vacancies {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .advantages-section {
        padding: 40px 20px;
    }
    .advantage-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantage-image {
        width: 100%;
        margin-bottom: 10px;
    }

    .advantage-text {
        width: 100%;
        padding: 0;
    }

    .revers-text {
        flex-direction: column-reverse;
    }
}










@media (min-width: 1025px) {
    .header-link:hover,
    .footer-brand:hover {
        color: #b11908;
    }
    .nav-link-hover:hover {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }
    .footer-links a:hover {
        text-decoration: underline;
        color: #e74c3c;
    }
    .email-privacy-terms:hover {
        text-decoration: underline;
    }
    .faq-question:hover {
        background-color: #333333;
    }
    .rummy-experience-card-link:hover {
        background-color: #d10000;
    }
    .rummy-experience-card:hover {
        transform: translateY(-5px);
    }
    .rummyVortex-online-button:hover {
        background-color: #d10000;
    }
    .btn-review:hover {
        background-color: #b5b5b5;
    }
    .RummyVortex-info-block:hover {
        transform: scale(1.02); /* Slight scale effect on hover */
    }
    .about-rummy__contact-button:hover {
        background-color: #da2100;
    }
    .about-rummy__button:hover {
        background-color: #da2100;
    }
    .btn-vacancies:hover {
        background-color: rgb(105, 105, 105);
    }
}